<!-- This page will display the list of search results of a substring of the word in your wiki-->

{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block body %}
    <h1>Search Results for "{{search_entry}}":</h1>

    {% if entries %}
        <ul>
            {% for entry in entries %}
            <li>
                <a href="{% url 'entry' entry_content=entry %}">{{entry}}</a>  
            </li>
            {% endfor %}
        </ul>

    {% else %}
        <p>
            Sorry we could not find "{{search_entry}}" in our wiki base  
        </p>
    {% endif %}

{% endblock %}